<link rel="stylesheet" href="form-styles.css">

<div class="wrapper">
    <form action="/changePassword" method="post" class="login-form">
        <div class="mb-3">
            <label for="password" class="form-label">ENTER NEW PASSWORD</label>
            <input type="password" class="form-control" id="password" name="password1">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">CONFIRM NEW PASSWORD</label>
            <input type="password" class="form-control" id="password" name="password2">
        </div>
        {{#if show}}
            <div class="form-text">MATCH PASSWORDS</div>	
        {{/if}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>